<% if flash[:item_add_notice] %>
    <%= flash[:item_add_notice] %>
<% else flash[:delete_item] %>
    <%= flash[:delete_item] %>
<% end %>

<% @cart_items.each do |i| %>
    <p>
        <% p = Product.find(i.product_id) %>
        <%= p.name %>
        <%= p.price.to_s(:delimited) %>円
        <%= i.qty %>個
        小計: <%= i.sum_price.to_s(:delimited) %>円
        <%= link_to 'カートから削除する', cart_item_path(i.id), method: :delete %>
    </p>
<% end %>

<p>合計: <%= @total_price.to_s(:delimited) %>円</p>
<p><%= link_to '商品一覧ページ', root_path %></p>
