<%= form_for @cart_item, url: {action: :create} do |i| %>
    <p>
        <%= @product.name %>
        <%= @product.price.to_s(:delimited) %>円
    </p>
    <%= i.hidden_field :product_id, value: @product.id %>
    <p>
        <%= i.label :qty, '個数' %>
        <%= i.number_field :qty %> 個
    </p>
    <p><%= i.submit 'カートに入れる' %></p>
<% end %>